<div class="container pages text-justify pb-5">  
  <h1 class="mb-4">About Business Travel</h1>  
  Business travel is travel undertaken for work or business purposes, as opposed to other types of travel, such as for leisure purposes or regularly commuting between one's home and workplace. 
  
  <a class="navbar-brand" href="https://en.wikipedia.org/wiki/Business_travel">
    Wikipedia
  </a>
  
  
    
  </div>  
  