<!-- <div class="bg-primary text-light text-center p-3 m-0" style="background-color:rgb(0, 26, 255);">  
  Copyright © 2019 - chrek  
</div>  -->
<div class="text-light text-center p-3 m-0" style="background-color:rgb(0, 26, 255);">  
  Copyright © 2019 - chrek  
</div>  
  