
<!-- <app-navbar></app-navbar><app-about></app-about><app-contact></app-contact>     
<app-home></app-home>  
<app-footer></app-footer>
<router-outlet></router-outlet> -->
<div class="main-view">  
  <app-navbar></app-navbar>  
  <router-outlet></router-outlet>  
</div>  
<app-footer></app-footer>  
