<!-- <nav class="navbar navbar-dark bg-primary"> -->
  <!-- Navbar content -->
  <!-- <a class="navbar-brand" href="#">
    <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a> -->
<!--   <span class="navbar-brand mb-0 h1 text-light">Angular with Bootstrap</span>

</nav> -->

<nav class="navbar navbar-light" style="background-color:rgb(0, 26, 255);">
  <span class="navbar-brand mb-0 h1 text-light" style="font-size: 2em;" routerLink="/">
    <i class="fas fa-suitcase" style="font-size: 2em; color:green;"></i> Angular with Bootstrap
  </span>
  <span class="mr-auto"></span>
  <button class="btn btn-success mr-2" routerLink="/about">About</button>
  <button class="btn btn-success" routerLink="/contact">Contact</button>
</nav>